header {
    background-color: #f4b473;
    padding: 10px;
}
.top-header{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-around;
}
.logo img{
    margin-left: -10px;
    width: 40%;
    border-style: outset;
    border-radius: 10cm;
    border-color: rgb(122, 10, 28);
    border-width: 7px;
}
.name{
    position: relative;
    margin-left: 40px;
    font-family: Merriweather;
    font-size: 30px;
    color: rgb(141, 8, 34);
}
.name h1{
    margin-left: -60px;
}
.button{
    padding: 20px;
    background-color: rgb(141, 8, 34);
    border-radius: 2cap;

}
.button a{
    text-decoration: none;
    font-size: 18px;
    color: antiquewhite;
}
.nav{
    background-color: rgba(141, 8, 34);
    padding: 10px;
    margin: 20px;
    border-radius: 2cap;
}
.nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.nav ul li a{ 
    text-decoration: none;
    font-size: 20px;
    color: rgb(245, 220, 225);
    font-family: Merriweather;    
}
ul li a:hover{
    color: chartreuse;
    transition: 0.2s;
}
.info{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    background-color: aliceblue;
}
.cause{
    text-align: center;
    background-color: chocolate;
    padding: 90px;
    width: 20%;
    margin: 20px;
    border-radius: 6px;
}
.impact{
    text-align: center;
    background-color: chocolate;
    padding: 90px;
    width: 20%;
    margin: 20px;
    border-radius: 6px;
}
.register{
    text-align: center;
    background-color: chocolate;
    padding: 90px;
    width: 20%;
    margin: 20px;
    border-radius: 6px;
}
.register-btn{
    padding: 20px;
    background-color: rgb(69, 28, 2);
    border-radius: 2cap;
}
.register-btn a{
    text-decoration: none;
    font-size: 18px;
    color: antiquewhite;
}
.projects{
    margin-top: 10px;
}
.p1{
    background-color: cornflowerblue;
    text-align: center;
    padding: 80px;
    border-radius: 6px;
}
.contact{
    margin-top: 10px;
    background-color: #f4b473;
    text-align: center;
    padding: 20px;
    border-radius: 6px;
}